.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
	border:1px solid #ccc;
	line-height:20px;
	padding:2px;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}