body { margin: 0; padding: 0; font-size: 12px; font-family:Verdana,Arial,sans-serif; text-align: center; color: #000;}
a{color:#333333; text-decoration:none;}
a:hover{color:#FF5500; text-decoration:underline;}
.L{float:left;}
.R{float:right;}
.clear { clear:both; margin:0; height:0; overflow:hidden;}
ul{ list-style:none; margin:0; padding:0;}
li { list-style:none;}
img { border:0;}
dl { margin:0; padding:0; }
em { font-style:normal;}
h1, h2, h3, h4, h5, h6, h7 { margin:0; padding:0; font-size:12px;}
#main { width:950px; background:#fff; margin:0 auto; margin-bottom:0;}

.top { width:948px; border:1px #FFDF70 solid; line-height:25px; height:25px; background:#FEFEE9;  margin:0 auto; margin-bottom:0; overflow:hidden;}
.top_box { width:948px; margin:0 auto; height:25px;}
.topl { width:378px; float:left; height:25px; text-align:left;}
.topr { width:570px; float:right; text-align:right;}
.topl a { color:#3366cc;  padding-left:5px;}
.topl span{ color:#ff0000;padding-left:5px;}
.topr a { padding-right:2px; color:#3366cc;}

.topbox { width:950px; margin:5px auto; clear:both; height:60px; background:#fff;}
.topboxl { width:180px; float:left; height:60px; text-align:left;}
.topboxr { width:770px; float:right; height:60px; text-align:center; margin:0 auto;}

.menu { width:950px; margin:5px auto; margin-bottom:0; line-height:35px; height:35px; background:url(../img/menubg.gif) repeat-x; overflow:hidden;}
.menu ul { width:950px; margin:0 auto; float:left; height:35px; overflow:hidden;}
.menu ul li { float:left; font-size:14px; font-weight:bold; background:url(../img/menubgright.gif) no-repeat right; width:47px;}
.menu ul li a { color:#fff;}
.menu ul li a:hover { color:#fff; text-decoration:underline;}

.search_box { width:600px; height:40px; display:block; background:url(../img/search_bg.gif) no-repeat; text-align:left; margin:10px auto; margin-bottom:0; padding-top:6px;}
.search_box form {  margin:0; padding:0; padding-left:10px;}
.search_box form input { border:1px #B5B5B5 solid; background:#fff; height:22px; float:left; line-height:22px;}
.search_box span { border:1px #B5B5B5 solid; display:block; float:left; height:21px; padding-top:3px; margin-left:4px; }
.search_box span select {}
.search_box button { float:left; width:65px; height:26px; line-height:26px; font-weight:bold; display:block; background:url(../img/button.gif) no-repeat; border:none; margin-left:4px; text-align:center;}

.navclass { width:948px; border:1px #FFC262 solid; height:110px; margin:5px auto; clear:both; background:url(../img/class_yellow.gif) repeat-x; }
.navclass dl { width:189px; float:left; margin:5px auto; text-align:left;}
.tk-list-01 dt,.tk-list-02 dt,.tk-list-03 dt,.tk-list-04 dt,.tk-list-05 dt { width:176px; line-height:16px; height:16px; background:url(../img/san.gif) no-repeat 3px 4px; text-align:left; font-weight:bold; margin-left:10px;}
.tk-list-01 dt span ,.tk-list-02 dt span ,.tk-list-03 dt span ,.tk-list-04 dt span ,.tk-list-05 dt span{ color:#3366cc; padding-left:12px;}
.tk-list-01 dt a ,.tk-list-02 dt a ,.tk-list-03 dt a ,.tk-list-04 dt a ,.tk-list-05 dt a { color:#3366cc; padding-left:0;}
.tk-list-01 dd,.tk-list-02 dd,.tk-list-03 dd,.tk-list-04 dd,.tk-list-05 dd { width:176px; margin-left:10px; line-height:20px; margin-top:5px;}
.tk-list-01 dd a,.tk-list-02 dd a,.tk-list-03 dd a,.tk-list-04 dd a,.tk-list-05 dd a { padding-right:5px;}
.tk-list-01 dd a span,.tk-list-02 dd a span,.tk-list-03 dd a span,.tk-list-04 dd a span,.tk-list-05 dd a span { color:#FF3300;}

.s_box { width:950px; margin:5px auto; clear:both; height:2308px; overflow:hidden;}
.s_box_l { width:730px; float:left;  overflow:hidden;}
.s_box_r { width:210px; float:right;  overflow:hidden;}
.s_box1 { width:730px; margin:0 auto; clear:both; height:340px; overflow:hidden;}
.s_box1_l { width:250px; float:left; height:340px; background:url(../img/s_box1_l.gif) no-repeat;}
.s_box1_r { width:470px; float:right; height:338px; border:1px #ddd solid;}
.s_box1_r .zhuti img{ width:468px; height:60px;}
.s_box1_l h1 { width:250px; height:26px; line-height:26px; font-size:14px; text-align:left;}
.s_box1_l h1 span { padding-left:12px; color:#666;}
.s_box1_l ul { width:240px; margin:3px auto; clear:both;}
.s_box1_l ul li { width:240px; height:22px; line-height:22px; text-align:left; overflow:hidden;}
.s_box1_l ul li a { color:#3366cc;}
.s_box1_l ul li .catname { padding-right:4px; color:#5C8201;}
.s_focus { width:470px; margin:5px auto; clear:both;}
.s_focus dl { width:470px; margin:0 auto;}
.s_focus dl dt { width:117px; float:left; margin:0 auto;}
.s_focus dl dt div { width:106px; margin-left:4px; height:106px; border:1px #e4e4e4 solid; display:block;}
.s_focus dl dt div img { margin:3px;}
.s_focus dl dt p { margin:5px auto; line-height:22px; height:22px; overflow:hidden; width:106px; margin-bottom:0;}
.s_focus dl dt p a { color:#3366cc;}
.s_box2 { width:730px; margin:5px auto; clear:both; background:url(../img/redian_bg.gif) no-repeat; height:180px; overflow:hidden;}
.s_box2 h2 { height:26px; clear:both;}
.s_box2 dl { width:730px; clear:both; margin:3px auto;}
.s_box2 dl dt { width:104px; float:left;}
.s_box2 dl dt span { width:86px; height:86px; margin-left:6px; display:block; border:1px #e4e4e4 solid;}
.s_box2 dl dt img { margin:3px;}
.s_box2 dl dt p { width:86px; margin:5px auto; margin-bottom:0;}
.s_box2 dl dt p a { color:#3366cc;}
#ltitle { line-height:16px; height:32px; overflow:hidden; width:86px;}
#lprice { color:#666;}
#lprice em { color:#FF3300; font-size:13px; font-weight:bold; padding-right:4px;}

.s_box3 { width:730px; margin:5px auto; clear:both;}
.s_box3_l { width:362px; height:300px; float:left; background:url(../img/s_box3_bg.gif) no-repeat;}
.s_box3_r { width:362px; height:300px; float:right; background:url(../img/s_box3_bg.gif) no-repeat;}
.s_box3_l h1,.s_box3_r h1 { width:362px; line-height:28px; height:26px; text-align:left; clear:both; overflow:hidden;}
.s_box3_l h1 span,.s_box3_r h1 span { float:left; padding-left:20px; font-size:14px; color:#666;}
.s_box3_l h1 a,.s_box3_r h1 a { float:right; padding-right:20px; color:#3366cc; font-weight:normal;}
.s_box3_l dl,.s_box3_r dl { width:360px; clear:both; margin:0px auto;}
.s_box3_l dl dt,.s_box3_r dl dt { width:120px; float:left;}
.s_box3_l dl dt span,.s_box3_r dl dt span { border:1px #e4e4e4 solid; display:block; width:106px; height:106px;}
.s_box3_l dl dt img,.s_box3_r dl dt img { margin:3px;}
.s_box3_l dl dt p,.s_box3_r dl dt p { margin:5px auto; margin-bottom:0; width:106px;}
#gtitle { line-height:16px; height:32px; overflow:hidden; width:106px; overflow:hidden;}
#gtitle a { color:#3366cc;}
#gprice { color:#666;}
#gprice em { font-size:13px; font-weight:bold; color:#FF3300; padding-right:4px;}
.s_box3_r ul,.s_box3_l ul { width:360px; margin:3px auto; clear:both;}
.s_box3_r ul li,.s_box3_l ul li { line-height:22px; height:22px; background:url(../img/hotblue.gif) no-repeat 4px 4px; text-align:left; width:360px; overflow:hidden;}
.s_box3_r ul li a ,.s_box3_l ul li a{ padding-left:38px; color:#3366cc;}
.s_box3_cat { margin:6px auto; width:360px; text-align:left; line-height:26px;}
.s_box3_cat a { padding-right:3px; padding-left:6px; color:#999900;}
#s_box3_cat a { color:#FF6666;}
#gbg {background:url(../img/hotfen.gif) no-repeat 4px 4px;}

.s_box4 { width:730px; margin:5px auto; clear:both;}
.s_box4_title{ width:730px; margin:0 auto; height:31px; line-height:31px; background:url(../img/s_box4_title.gif) no-repeat; overflow:hidden;}
.s_bod4_box { width:728px; border:1px #D5D5D5 solid; border-top:none; margin:0 auto; clear:both; height:626px; overflow:hidden;}
.s_bod4_box h2 { width:728px; height:24px; line-height:24px; text-align:left; border-bottom:1px #d5d5d5 solid; background:#F6F8DC;}
.leibiebox1 { width:728px; height:120px; clear:both; margin:0 auto; background:#F4FAFB; overflow:hidden;}
.leibiebox2 { width:728px; height:120px; clear:both; margin:0 auto; background:#FBF6F0; overflow:hidden;}
.leibiebox1 h1,.leibiebox2 h1 { font-size:12px; text-align:left; background:url(../img/leidian.gif) no-repeat 14px 4px; margin:5px auto;}
.leibiebox1 h1 span,.leibiebox2 h1 span { padding-left:26px; color:#3366cc;}
.leibiebox1 h1 a,.leibiebox2 h1 a { color:#3366cc;}
.v1,.v2,.v3 { float:left; width:242px;}
.v1 p span,.v2 p span,.v3 p span { color:#ff5500;}
.leibiebox1 p,.leibiebox2 p { text-align:left; width:224px; margin:5px auto; line-height:22px; color:#DAD9D9;}
.leibiebox1 p a,.leibiebox2 p a { color:#333333; padding-right:2px;}
.leibiebox1 p a:hover,.leibiebox2 p a:hover { color:#ff5500;}

.cat_s { width:208px; border:1px #D5D5D5 solid; height:379px; margin:4px auto; background:url(../img/s_right.gif) repeat-x; overflow:hidden;}
.cat_no_mt{margin-top:0;}
.cat_s h3 { font-size:14px; text-align:left; height:26px; line-height:26px;}
.cat_s h3 span { padding-left:8px; color:#609102; float:left;}
.cat_s h3 a { float:right; padding-right:4px; font-size:12px; font-weight:normal; color:#3366cc;}
.cat_s dl { width:200px; margin:0 auto; clear:both; height:95px; overflow:hidden;}
.cat_s dl dt { width:200px;}
.cat_s dl dt span { float:left; width:92px; height:92px; display:block; border:1px #e4e4e4 solid;}
.cat_s dl dt img{ margin:1px;}
.cat_s dl dt em { width:104px; float:right; display:block;}
.cat_s dl dt em h4 { font-size:12px; line-height:18px; text-align:left; height:36px; overflow:hidden;}
.cat_s dl dt em h4 a { color:#ff9900;}
.cat_s dl dt em p { margin:5px auto; margin-bottom:0; text-align:left; color:#666; line-height:16px;}
.cat_s dl dt em p a { color:#3366cc;}
.cat_s ul { width:200px; margin:5px auto; clear:both;}
.cat_s ul li { line-height:22px; text-align:left; height:22px; background:url(../img/dian.gif) no-repeat 4px 10px; width:200px; overflow:hidden;}
.cat_s ul li a { padding-left:5px; color:#3366cc;}

.s_box5 { width:728px; height:501px; margin:5px auto; clear:both; border:1px #d5d5d5 solid;}
.s_box5 h1 { line-height:26px; height:26px; background:url(../img/h2.gif) repeat-x; clear:both; text-align:left; font-size:14px;}
.s_box5 h1 span { padding-left:8px;}
.s_box5 dl { width:728px; clear:both; margin:5px auto;}
.s_box5 dl dt { width:91px; float:left; height:155px;}
.s_box5 dl dt span { width:84px; height:84px; display:block; border:1px #e4e4e4 solid;}
.s_box5 dl dt img { margin:2px;}
.s_box5 dl dt p { margin:4px auto; line-height:16px; width:80px;}
#ftitle { line-height:18px; height:36px; width:80px; overflow:hidden;}
#ftitle a { color:#3366cc;}

.weizhi { width:950px;  margin:5px auto; clear:both; height:28px; border-bottom:1px #ccc solid; line-height:28px; overflow:hidden; margin-bottom:0; text-align:left; font-size:12px;}
.weizhi a{ padding-right:10px; background:url(../img/arr.gif) no-repeat right 0; padding-left:8px; color:#ff5500; font-weight:bold;}
.weizhi span { padding-left:4px; font-weight:bold;}

.cat_16 a,.cat_14 a,.cat_25 a,.cat_30 a,.cat_1801 a,.cat_1512 a,.cat_1101 a,.cat_1201 a,.cat_50006842 a,.cat_50008165 a,.cat_50008163 a,.cat_50007218 a,.cat_27 a,.cat_50010388 a,.cat_50010788 a,.cat_50022703 a,.cat_50020275 a,.cat_50004958 a,.cat_33 a,.cat_50013864 a,.cat_50019780 a { color:#ff0000;}

.taoke_mainbox { width:950px; clear:both; margin:5px auto; background:url(../img/950bg_taoke.gif) repeat-y; border-top:1px #e4e4e4 solid; border-bottom:1px #e4e4e4 solid; }
.taoke_mainboxl { width:190px; float:left;}
.taoke_mainboxr { width:760px; float:right;}
.taoke_left_catalogs { width:188px; margin:0 auto; clear:both;}
.taoke_left_catalogs h1 { width:188px; height:28px; border-bottom:1px #e4e4e4 solid; background:url(../img/h1bg.gif); font-size:14px; text-align:center; margin-top:0; margin-bottom:0;}
.taoke_left_catalogs h1 span { line-height:28px;}
.taoke_left_catalogs ul { width:188px; background:url(../img/catalogsbg.gif); }
.taoke_left_catalogs ul li { text-align:left; line-height:24px; height:24px; background:url(../img/dot.gif) no-repeat 5px 10px; border-bottom:1px #e4e4e4 solid; overflow:hidden;}
.taoke_left_catalogs ul li a { padding-left:14px;}
.taoke_right_catalogs { width:740px; margin:5px auto; clear:both; }
.taoke_right_catalogs h2 { width:740px; line-height:26px; height:26px; font-size:12px; text-align:left;}
.taoke_right_catalogs ul { width:738px; margin:0 ; border:1px #B6E0F8 solid; background:#F2FAFF;}
.taoke_right_catalogs ul li { width:184px; float:left; text-align:left; color:#999; line-height:22px; height:22px; overflow:hidden;}
.taoke_right_catalogs ul li a { padding-left:10px; color:#3366cc;}

.taoke_choose { margin:5px auto; width:740px;}
.taoke_choose ul { width:740px; height:34px; background:url(../img/choosebg.gif) repeat-x; height:34px;}
.taoke_choose ul li { float:left; background:url(../img/nochoose.gif) no-repeat 0 2px; width:100px; height:34px; line-height:30px; text-align:center; margin-right:6px;}

.condition { width:740px; border:1px #C0DBF8 solid; height:33px; background:url(../img/conditionbg.gif) repeat-x; margin:3px auto; margin-bottom:0;}
.condition ul { width:738px; clear:both; margin:0 auto;}
.condition ul li { float:left; line-height:33px;}
.condition .tilist { margin-left:5px; background:url(../img/condition_right.gif) no-repeat right; width:110px;}
.condition .by-price a { margin-right:5px;color:#FF3300;}

.taoke_listbox { width:760px; margin:5px auto; clear:both;}
.taoke_listbox dl { width:760px; margin:0 auto; clear:both;}
.taoke_listbox dl dt { width:190px; float:left; height:310px; margin:0 auto;}
.taoke_listbox dl dt em { width:166px; height:166px; border:1px #ccc solid; display:block; overflow:hidden; margin:0 auto;}
.taoke_listbox dl dt em img { margin:3px;}
.taoke_listbox dl dt p { line-height:18px; margin:5px auto; margin-bottom:5px; color:#333333; text-align:left; width:160px; }
.taoke_listbox dl dt p.taoke_title a { color:#3366cc;}
.taoke_listbox dl dt p.taoke_nick a { color:#ff5500;}
.taoke_listbox .taoke_title { width:166px; text-align:left; line-height:18px; height:36px; overflow:hidden;}
.taoke_listbox .taoke_title span { color:red;}
.taoke_listbox .taoke_price b { color:#ff5500;}
.taoke_listbox .taoke_sales b { color:#739F24;}

.titems_title { width:750px;margin:0 auto; border-bottom:1px #ddd solid;}
.titems_title h1 { line-height:33px; height:33px; margin:0 auto; margin-bottom:0; color:#404040; font-size:14px; text-align:center;}

.titemsbox { margin:5px auto; clear:both; width:750px;}
.titemsbox_l { width:320px; height:320px; float:left; margin:0 auto; border:1px #ffc262 solid;}
.titemsbox_l img{margin:3px;}
.titemsbox_r { width:420px; float:right; margin:0 auto;}
.titemsbox_r .promotion { border:1px #FEE2A1 solid; background:#FFF8E9; font-size:14px; clear:both; text-align:left; margin:0 auto;}
.titemsbox_r .promotion div { margin:5px; line-height:24px;}
.titemsbox_r .promotion em { color:#FF0000; font-weight:bold;}
.titemsbox_r .go_buy { margin:10px auto;}
.titemsbox_r .go_buy img { padding-right:10px;}
.titemsbox_r ul { width:420px; margin:0 auto; clear:both;}
.titemsbox_r ul li { line-height:26px; height:26px; text-align:left; color:#404040;}
.titemsbox_r ul li a { color:#3366cc;}
.titemsbox_r ul li span { padding-right:6px;}
.titemsbox_r ul li.price b { font-size:16px; color:#ff6600; padding-right:6px;}
.titemsbox_r ul li.num b { font-size:16px; color:#739F24; padding-right:6px;}

.titems_info { width:750px; margin:5px auto; clear:both; overflow:hidden;}
.titems_info .ti_box {width:750px;background:url(../img/ti_content.gif) repeat-x;}
.titems_info .ti_box .ti_1 { width:750px; height:29px;}
.titems_info .ti_box .ti_1 li { float:left; width:88px; text-align:center; height:28px; line-height:28px; margin-right:4px;}
.titems_info .ti_box .ti_1 .ti_nav { width:88px; height:28px; line-height:28px; background:url(../img/ti_content_yes.gif) no-repeat;}

.product_props{width:746px; margin:3px auto; padding:3px 0px; border:1px #D2D2D2 solid; background:#F3F3F3;}
.product_props ul { width:728px; margin:0px;}
.product_props ul li { width:233px; float:left; padding-left:3px; text-align:left; color:#333333; line-height:22px; height:22px; overflow:hidden;}

#pages { clear:both;text-align:center; height:28px; line-height:28px; margin-top:20px; margin-bottom:20px; font-size:14px;font-family:"ו";}
#pages span,#pages u {padding:2px 4px;margin:4px 8px 0 0;background:#8B8A8A;border:1px solid #B9B7B7; color:#fff; font-weight:bold; }
#pages a{ padding:2px 4px;margin:2px 4px 0 0; border:1px solid #B9B7B7; color:#8B8A8A; }
#pages .active{background:#fff;border:1px solid #B9B7B7;color:#8B8A8A;font-weight:bold;padding:2px 4px;margin:2px 4px 0 0;}
#pages a:visited{color:#8B8A8A;text-decoration:none; }
#pages a:hover{color:#fff;background:#8B8A8A;border:1px solid #B9B7B7;}

.links { width:928px; margin:5px auto; padding:0px 10px; clear:both; border:1px #e4e4e4 solid; text-align:left; overflow:hidden;}
.links h1 { width:928px; font-size:12px; text-align:left; line-height:22px; height:22px; margin:0;}
.links h1 span { padding-left:0px;}
.links a { padding-right:5px; line-height:22px;}

.footer { width:948px; margin:5px auto; line-height:22px; clear:both;}
.channel { width:950px; margin:5px auto; clear:both;}