html {
  height: auto;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
}

#map 
{
  width:100%;
  height:660px;
}

@media print {
  #map {
    height: 950px;
  }
}

.mapStyle
{
    color:Blue;
    }